@import url("login.css");
@import url("index.css");
@import url("question.css");
@import url("register.css");
@import url("pp.css");
@import url("profile.css");
@import url("weather.css");

:root {
  --complementary-a: #0C591E;
  --complementary-b: #52F278;
  --complementary-c: #59040B;
  --complementary-d: #A62833;

  --monochromatic-a: #3AF265;
  --monochromatic-b: #62B575;
  --monochromatic-c: #83F29D;
  --monochromatic-d: #1C7330;

  --compound-a: #1ED9B3;
  --compound-b: #29403B;
  --compound-c: #B1578C;
  --compound-d: #D01ED9;

  --green-shade1: #18662B;
  --green-shade2: #3AF265;
  --green-shade3: #2BB34A;
  --green-shade4: #228C3B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

span#ckeditor-text img {
  height: 100% !important;
  width: 100% !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.leaflet-marker-pane img {
  width: 32px !important;
  object-fit: contain !important;
}

section#layout {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #EEE;
  text-decoration: none;
}

.navbar-dark .navbar-brand img {
  border-radius: 50%;
}

.text-with-line {
  display: flex;
  flex-flow: row;
  color: #FFF;
  padding: 1rem 2rem;
}
.text-with-line::before, .text-with-line::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  margin: auto;
}
.text-with-line::before {
  margin-right: 10px;
}
.text-with-line::after {
  margin-left: 10px;
}

footer {
  color: #FFF;
}
footer h5 {
  text-align: start;
  margin-bottom: 12px;
  font-weight: 400;
}
footer li {
  font-weight: 300;
}

footer .logo img {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
  min-height: 100px;
}

.group-column {
  display: flex;
  flex-flow: column wrap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
