section#question {
    position: relative;
}

section#question .card-wrapper {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
    width: 100%;
    border-radius: 1rem;
}

section#question .card-wrapper .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: .5rem 0;
}

section#question .card-wrapper .header .profile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 16px;
}
section#question .card-wrapper .header .profile img {
    display: block;
    max-height: 36px;
    max-width: 36px;
    object-fit: cover;
    border-radius: 50%;
}

section#question .card-wrapper .body {
    text-indent: 36px;
    font-size: 24px;
}

section#question .card-wrapper .comment {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin: .5rem 0;
    padding-top: .5rem;
    border-top: 1px solid #AAA;
}



/* answer */
section#answer {
    position: relative;
}

section#answer .wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}
section#answer .wrapper .profile {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: .25rem;
    gap: .5rem;
    align-items: center;
}
section#answer .wrapper .profile p {
    margin: 0;
}
section#answer .wrapper .profile img {
    width: 36px;
    height: 36px !important;
    object-fit: cover;
    border-radius: 50%;
}
section#answer .wrapper .profile .time {
    text-align: end;
}